.checklist {
  margin: 0 auto;
  max-width: rem(490px);

  & .checklist__item {
    margin-bottom: 1gr;
  }

  & input[type="checkbox"] {
    left: -200vw;
    position: absolute;

    &:checked + label {
      cursor: pointer;
    }

    &:checked + label .checkbox {
      background: $base0a;
    }

    &:checked + label .checkbox .icon {
      display: block;
    }
  }

  & .checkbox {
    background: $base06;
    border-radius: 3px;
    display: inline-block;
    height: 1.15em;
    margin-right: 1gr;
    position: relative;
    transform: translateY(3px);
    width: 1.15em;
  }

  & .checkbox .icon {
    color: white;
    display: none;
    height: 1em;
    left: 50%;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: .9em;
  }


}
